@page
@model WebApp.Pages.CheckersGames.EndOfGame

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>GAME IS OVER</h1>
    <a asp-page="./Index">
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
    </a>
</div>
</body>
</html>